<footer>
	<div id="copyright">
	  <div class="row full-width">
	    <div class="large-4 columns">
	      <p>&copy; 2013 eShop Systems ,Ltd.</p>
	    </div>
	    <div class="large-8 columns">
	      <ul class="inline-list right">
	        <li>
	        	<%= link_to('Work eShop', '#') %>
	        </li>
	        <li>
	        	<%= link_to('About Us', '#') %>
	        </li>
	        <li>
	        	<%= link_to('Help', '#') %>
	        </li>
	        <li>
	        	<%= link_to('Contact Us', '#') %>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
</footer>