<% provide(:title,'Username')%>
<div class="row">
	
  <div class="large-2 columns">
  	<p></p>
  </div>
  
  <div class="large-8 columns">
  	<h6 class="subheader"><%= @admin.email%></h6>
  	<%= gravatar_for @admin %>
  </div>
  
  <div class="large-2 columns">
  	<p></p>
  </div>
  
</div>