<% provide(:title,'Checkout')%>
<div class="row">
	
	<div class="large-4 columns">
		<p></p>
	</div>
	
	<div class="large-6 columns" >
		<h2 class="subheader">Place new order</h2>
		<fieldset>
			<legend>Please Enter Your Details</legend>
			<%= render 'form' %>
		</fieldset>
		
		<%= link_to 'Back', orders_path %>
	</div>
	<div class="large-2 columns">
		<p></p>
	</div>
</div>
