<h1 class="subheader">Place new order</h1>

<div class="row">
	<div class="large-2 columns">
		
	</div>
	
	<div class="large-6 columns" >
		<fieldset>
			<legend>Please Enter Your Details</legend>
			<%= render 'form' %>
		</fieldset>
		
		<%= link_to 'Back', orders_path %>
	</div>
	<div class="large-2 columns">
		
	</div>
</div>
