<% provide(:title,'About Us')%>
<div class="row">
	
	<div class="large-4 columns">
		<p></p>
	</div>
	
	<div class="large-7 columns" >
		<h3 class="subheader">Who are we?</h3>

		<div class="panel callout radius">
		  <!-- Content here -->
		  <p>
		  	eShop is the premier online shopping store in Nairobi. It is owned by eShop Ke Ltd.
		  </p>
		</div>
		
	</div>
	<div class="large-1 columns">
		<p></p>
	</div>
</div>
