<% provide(:title,'Help')%>
<div class="row">
	
	<div class="large-4 columns">
		<p></p>
	</div>
	
	<div class="large-7 columns" >
		<h3 class="subheader">Welcome to eShop Help</h3>
		<p class=" panel callout radius">
			The video  below is Quick Tour through the Shopping process at eShop.
			PLease take 5 minutes to go through it.
		</p>
		<div class="flex-video">
		  <iframe width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen></iframe>
		</div>
		
	</div>
	<div class="large-1 columns">
		<p></p>
	</div>
</div>
